.container {
  padding: 16px;
  border-radius: 8px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.08s;
  max-width: 500px;
  min-width: 250px;
}

.container:hover {
  box-shadow: 0px 0px 5px rgba(95, 56, 165, 0.4);
  transform: scale(1.02);
  cursor: pointer;
}

.content {
  font-size: 14px;
  font-weight: 600;
}

.footerContainer {
  border-radius: 8px;
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
}

.footerContainer > div {
  margin-right: 8px;
}

.widgetContainer {
  display: flex;
}

.incoutournable {
  opacity: 0.8;
}

.info {
  z-index: 99;
}

.categorie {
  border: solid 3px #aaa;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acquisition {
  border: solid #5d50de 3px;
  color: #5d50de;
}

.conception {
  border: solid #f98f01 3px;
  color: #f98f01;
}

.realisation {
  border: solid #f82e19 3px;
  color: #f82e19;
}

.deploiement {
  border: solid #63a375 3px;
  color: #63a375;
}

.administration {
  border: solid #ad44de 3px;
  color: #ad44de;
}

.utilisation {
  border: solid #fbca00 3px;
  color: #fbca00;
}

.maintenance {
  border: solid #7ed4f8 3px;
  color: #7ed4f8;
}

.findevie {
  border: solid #9a2149 3px;
  color: #9a2149;
}

.revalorisation {
  border: solid #052f5f 3px;
  color: #052f5f !important;
}

.global {
  border: solid #41d794 3px;
  color: #41d794;
}
